/* Author: Kewen Gu */
/* URL: https://kgu-cs4241-main.herokuapp.com */

.movies
{

	display: inline-block;
	vertical-align:top;
	position: relative;
  	padding: 1em;
  	margin: 1em;
  	background: ivory;
	color: black;
  	border-radius: 10px;
  	border-bottom: 1px solid #999;
}

.movies p
{
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
}

#movie-list
{
	width: 60%;
	height: auto;
	margin: auto;
}



#menu
{
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	position: fixed;
	float: left;
	width: 15%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px 10px;
	background: #ccc;
	background-color: rgba(204, 204, 204, 0.4);
	border-bottom: 1px solid #999;
}

#menu p
{
	text-align: left;
	margin: 7px 5px;
	padding: 10px 10px;
	border-style: solid;
	border-width: thin;
	cursor: pointer;
}


.button
{
	margin-left: 10px;
	border-style: solid;
	cursor: pointer;
}


/* mouse over button */
.button:hover {
	background-color: grey;
}


html
{
	background: url(../src/main-bg.jpg);
	background-size: cover;
	background-position: center;
	width: auto;
	height: auto;
	color: ivory;
}

body
{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

body > article
{
  	text-align: center;
}

#top
{
	margin: 330px 0 400px;
}

h1
{
	text-transform: uppercase;
	text-align: center;
  font-family: 'Lobster', cursive;
	font-size: 5em;
	font-weight: 700;
  letter-spacing: 6px;
}

.header-note
{
	font-size: 1em;
  	margin: 0 0 5px 0;
}


.quote
{
	font-size: 3em;
	font-style: italic;
	margin: 380px 0 380px;
}

.copyright
{
  	font-size: 0.8em;
  	margin: auto auto 0 auto;
}
